/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #3D5A80;
  --matr-navbar-bg-rgb: 61, 90, 128;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
/*  background: fixed center url("https://media.architecturaldigest.com/photos/5769a3e4fd4057dc7011364e/16:9/w_3200,h_1800,c_limit/waikiki-hawaii-weekend-guide-01.jpg");
  background-size: cover; */
}

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.all-facilities-page {
  background-color: lightblue;
}
