/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 61, 90, 128;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  top: 0 !important;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.landing-button{
  background-color: #98C1D9 !important;
  border-color: #98C1D9 !important;
  transform: translate(0%, 150%);
}

.landing-button:hover{
  background-color: #85B2CD !important;
  border-color: #85B2CD !important;
}
/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

body > .skiptranslate {
  display: none;
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCO {
  display: none;
}

.VIpgJd-ZVi9od-aZ2wEe-OiiCO-ti6hGc {
  display: none;
}
.IpgJd-ZVi9od-aZ2wEe-wOHMyf {
  display: none;
}

.all-facilities-page {
  background-color: #ffffff;
}

.text-center {
  margin-bottom: 20px;
}
.facility-list a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.facility-list a:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* ... (existing styles) */

.facilities-link {
  color: #007bff;
  text-decoration: none;
}

.facilities-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

.grow-on-hover {
  transition: transform 0.3s ease-in-out;
}

.grow-on-hover:hover {
  transform: scale(1.025);
}

.card a {
  text-decoration: none;
}