/* Use Open Sans as the default sans serif font. */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 61, 90, 128;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  background-image: url("https://assets.editorial.aetnd.com/uploads/2009/12/gettyimages-1352563243.jpg");
  background-size: cover;
  top: 0 !important;
}

.landing-button{
  background-color: #98C1D9 !important;
  border-color: #98C1D9 !important;
  transform: translate(0%, 150%);
}

.landing-button:hover{
  background-color: #85B2CD !important;
  border-color: #85B2CD !important;
}
/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

ul li {
  list-style-type: disc;
  list-style-image: none;
  list-style-position: inside;
  color: white;
}

.facilities {
  background-image: url("https://htmlcolorcodes.com/assets/images/colors/baby-blue-color-solid-background-1920x1080.png");
}

.facilities a {
  color: white;
}

.facilities p {
  color: white;
}

.facilities p a {
  color: blue;
}

body > .skiptranslate {
  display: none;
}

.search-bg {
  background-image: url("https://htmlcolorcodes.com/assets/images/colors/baby-blue-color-solid-background-1920x1080.png");
}
